/* Umum */

* {
  margin: 0;
  padding: 0;
}

body {

    background-image: url('../static/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
}

/* Navbar Atas */

.container-nav {
  background-color: #F7971E;
  width: 100%;

  position: relative;
  
}

.logo {
  height: 35px;
  width: 35px;

  margin: 3px 0 3px 40px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.animal-text {
  color: white;
  margin-left: 5px;
  text-decoration: none;
  letter-spacing: 2px;
}

.login {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
}

.right {
  margin-right: 60px;
  margin-bottom: 5px;
}

.fa-user {
  margin-right: 5px;
}

.btn-seacrh {
  background-color: white; 
  color: #F7971E;
}

.btn-seacrh:hover {
  background-color: white;
  color: #F7971E;
  font-weight: bold;
}

/* Content */

.content {
  margin-top: 70px;
  margin-left: 5px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pisces-text {
  background-color: #F7971E;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: white;
}

.pisces-artikel {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  flex: 0 0 calc(33.33% - 15px);
  max-width: calc(33.33% - 15px);
}

.card-img-top {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Navbar Bawah */

footer {
  margin-top: 70px;
  background-color: #F7971E;
}

footer.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutUs {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;

  flex-basis: 40%;
  text-align: left;
}

.aboutUs h3 {
  text-align: left;
  font-size: 20px;
}

.aboutUs p {
  font-size: 15px;

  color: #000;
}

.btn-about {
    background-color: white;
}

.btn-about:hover {
    background-color: rgb(255,210,0);
  border-color: white;
}

.contactUS {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-basis: 21%;
}

.contactUS h3 {
  text-align: left;
  font-size: 20px;
}

.contactUS p {
  font-size: 14px;
  color: #000;
  text-align: left;
}

.contactUS img {
  width: 20px;
  height: auto;
}

.footer-bottom {
  /* position: sticky; */
  left: 0;
  bottom: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7971E;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  text-align: center;
}
