<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Animal Kingdom | Login Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</head>

<script>
    function signin_admin() {
        let email = $("#input-email").val();
        let password = $("#input-password").val();

        if (email === "") {
            return alert("Email Belum Diisi!");
        }


        if (password === "") {
            return alert("Password Belum Diisi!");
        }


        $.ajax({
            type: "POST",
            url: "/signin-admin",
            data: {
                email_give: email,
                password_give: password,
            },
            success: function (response) {
                if (response["result"] === "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Login Berhasil!',
                        text: 'Silahkan Klik Tombol Dibawah Ini!',
                        willClose: () => {
                            $.cookie("admintoken", response["token"], { path: "/" });
                            console.log('testing');
                            window.location.replace("/overview");
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Login Gagal!',
                        text: 'Maaf, Akun atau Password yang Anda masukkan salah!'
                    });
                }
            },
        });

    }

    function back() {
        window.location.href = "/signup"
    }
</script>


<body class="body">
    <div class="container col-sm-2">
        <input type="checkbox" id="check">
        <div class="login form">
            <header class="login-text"><strong>LOGIN ADMIN</strong></header>
            <div>
                <input type="email" name="email" placeholder="Masukkan Email" id="input-email" required>
                <input type="password" name="password" placeholder="Masukkan Password" id="input-password" required>
                <input type="button" value="Login" class="btn btn-warning btn-login-admin" onclick="signin_admin()">
                <div class="atau">
                    <span>OR</span>
                </div>
                <input type="button" value="Back to Users" class="btn btn-warning btn-login" onclick="back()">
            </div>
        </div>
    </div>
</body>

</html>